ErrorDocument 403 /erreur/

RewriteEngine On 

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 

RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ index.php?/$1/ [L]

RewriteCond %{REQUEST_URI} (.*)/$
RewriteRule ^(.*)$ index.php?/$1 [L]